h1 {
    margin: 0;
}

.modal-wrapper {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
}

.modal-card {
    height: 50vh;
    width: 36vw;
    background: white;
    position: fixed;
    margin: auto;
    top: calc( (100vh / 2) - 25vh );
    left: calc( (100vw / 2) - 18vw );
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* .modal-card > div {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.form-title {
    font-size: 3.2rem;
    margin-top: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px 0;
}

.form-group > label {
    margin-bottom: 8px;
    font-size: 1.1rem;
}

.form-group > input {
    height: 30px;
    width: 300px;
    padding: 0 10px;
    border: 1px solid #CECBC8;
    border-radius: 2px;
    background: #faf9f9;
    outline: none;
}

.btn {
    margin: auto;
    display: block;
    margin-top: 14px;
    margin-bottom: 42px;
    background-color: #F35A2F;
    color: white;
    font-size: 1rem;
    padding: 6px 10px;
    border: none;
}

.btn:hover:disabled {
    cursor: not-allowed;
}

.btn:hover:enabled {
    cursor: pointer;
}