<ul>
  <li class="cricket-nav-item">
    <p (click)="onCategoryClicked('Cricket')" class="cricket-text">
      Cricket
    </p>

    <div class="cricket-dropdown">
      <div (click)="onSubcategoryClicked('Cricket Bats')">Cricket Bats</div>
      <div (click)="onSubcategoryClicked('Cricket Balls')">Cricket Balls</div>
      <div (click)="onSubcategoryClicked('Cricket Kits')">Cricket Kits</div>
    </div>
  </li>

  <li class="football-nav-item">
    <p (click)="onCategoryClicked('Football')">
      Football
    </p>

    <div class="football-dropdown">
      <div (click)="onSubcategoryClicked('Football Balls')">Football Balls</div>
      <div (click)="onSubcategoryClicked('Football Clothing')">Football Clothing</div>
      <div (click)="onSubcategoryClicked('Goalkeeper Gloves')">Goalkeeper Gloves</div>
      <div (click)="onSubcategoryClicked('Training Equipment')">Training Equipment</div>
    </div>
  </li>

  <li class="badminton-nav-item">
    <p (click)="onCategoryClicked('Badminton')">
      Badminton
    </p>

    <div class="badminton-dropdown">
      <div (click)="onSubcategoryClicked('Racquets')">Racquets</div>
      <div (click)="onSubcategoryClicked('Shuttlecocks')">Shuttlecocks</div>
      <div (click)="onSubcategoryClicked('Complete Sets')">Complete Sets</div>
    </div>
  </li>

  <li class="tennis-nav-item">
    <p (click)="onCategoryClicked('Tennis')">
      Tennis
    </p>

    <div class="tennis-dropdown">
      <div (click)="onSubcategoryClicked('Tennis Racquets')">Tennis Racquets</div>
      <div (click)="onSubcategoryClicked('Tennis Balls')">Tennis Balls</div>
      <div (click)="onSubcategoryClicked('Tennis Clothing')">Tennis Clothing</div>
    </div>
  </li>

  <li class="cycling-nav-item">
    <p (click)="onCategoryClicked('Cycling')">
      Cycling
    </p>

    <div class="cycling-dropdown">
      <div (click)="onSubcategoryClicked('Geared Cycles')">Geared Cycles</div>
      <div (click)="onSubcategoryClicked('Non Geared Cycles')">Non Geared Cycles</div>
      <div (click)="onSubcategoryClicked('Helmets')">Helmets</div>
    </div>
  </li>

  <li class="basket-ball-nav-item">
    <p (click)="onCategoryClicked('Basketball')">
      Basket Ball
    </p>

    <div class="basket-ball-dropdown">
      <div (click)="onSubcategoryClicked('Basketballs')">Basketballs</div>
      <div (click)="onSubcategoryClicked('Backboards')">Backboards</div>
      <div (click)="onSubcategoryClicked('Basketball Pumps')">Basketball Pumps</div>
    </div>
  </li>

  <li class="swimming-nav-item">
    <p (click)="onCategoryClicked('Swimming')">
      Swimming
    </p>

    <div class="swimming-dropdown">
      <div (click)="onSubcategoryClicked('Swimwear')">Swimwear</div>
      <div (click)="onSubcategoryClicked('Goggles')">Goggles</div>
      <div (click)="onSubcategoryClicked('Swimming Caps')">Swimming Caps</div>
    </div>
  </li>
</ul>